@font-face {
  font-family: 'iconfont';  /* project id 870016 */
  src: url('//at.alicdn.com/t/font_870016_k3qbaes7h39.eot');
  src: url('//at.alicdn.com/t/font_870016_k3qbaes7h39.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_870016_k3qbaes7h39.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_870016_k3qbaes7h39.woff') format('woff'),
  url('//at.alicdn.com/t/font_870016_k3qbaes7h39.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_870016_k3qbaes7h39.svg#iconfont') format('svg');
}

.icon{
    font-family: 'iconfont';
    font-style: normal;
}